{% extends "base.html" %}

{% block title %}Главная — Cafe Order{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <p class="eyebrow">Flask-приложение</p>
        <h2>Оформление заказов в кафе</h2>
        <p>
            В приложении клиент может выбрать блюдо, добавить ингредиенты,
            указать тип получения заказа и выбрать способ оплаты.
        </p>

        <a class="btn" href="{{ url_for('customer.show_menu') }}">
            Перейти к меню
        </a>
    </div>

    <div class="info-card">
        <h3>Используемые паттерны</h3>
        <ul>
            <li><b>Decorator</b> — добавление ингредиентов к блюду.</li>
            <li><b>Factory Method</b> — создание заказа доставки или самовывоза.</li>
            <li><b>Strategy</b> — выбор способа оплаты.</li>
        </ul>
    </div>
</section>
{% endblock %}